<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XKCD search</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <section id="search-header" class="hero is-medium is-primary">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-8-desktop is-offset-2-desktop">
                <h1 class="title is-spaced is-size-1">What comic are you looking for?</h1>
                <div class="field is-grouped">
                  <p class="control is-expanded">
                    <input class="input is-large is-rounded" type="text" placeholder="e.g. machine learning" v-model="query">
                  </p>
                  <p class="control">
                    <button class="button info is-large is-light is-rounded" v-bind:class="{ 'is-loading': loading }" v-on:click="search">
                      Search
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <h2 class="title is-spaced is-size-2" v-if="results.length == 0 && searchPerformed">No results</h2>

          <div class="box has-text-centered comic" v-for="comic in results">
            <h3 class="is-size-3 is-spaced has-text-weight-bold">{{ comic.title }}</h3>
            <span class="published">
              <span class="has-text-weight-semibold">Published:</span>
              {{ comic.month }}/{{ comic.day }}/{{ comic.year }}
            </span>
            <a :href="'https://xkcd.com/' + comic.num" target="_blank" class="button is-primary is-small">Open original comic</a><br />
            <img :src="comic.img" :alt="comic.alt">
          </div>
        </div>
      </section>
    </div>
    <script src="lib/main.js"></script>
  </body>
</html>
